* {
    box-sizing: border-box;
}

.notes-app .note {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    overflow: hidden;
    width: 238px;
    padding: 4px 16px 12px 16px;
    border: 2px solid #e3e5e7;
    border-radius: 15px;
    break-inside: avoid;
}
.notes-app .form-container{
    display: flex;
    justify-content: center;

}
.notes-app .form-submit {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.317);
    border-radius: 10px;

}
.notes-app .note-img {
    height: 300px;

}

.notes-app .note-title{
    font-weight: 600;
    padding: 20px 10px;
}
.input-submit{
    width: 800px;
}
.notes-app button{
  background-color: #ffffff; 
  border: none;
  padding: 0;
}
.notes-app .fa-solid, .fa-brands{
    display: flex;
    justify-content: center;
    
    color: rgb(191, 188, 188);
    margin: 5px;

}

.notes-app .fa-solid .fa-brands {
    display: flex;
    align-items: center;

}
.notes-app .actions-container button {
    margin: 10px 9px;
    font-size: x-large;
}
.notes-app .actions-container {
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.notes-app .input-submit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(191, 188, 188);
}

.notes-app .input-submit-txt, .input-submit-title {
    width: 90%;
    border: 1px solid rgb(187, 181, 181);
    padding:5px;
    margin: 5px;
    margin-left: 10px;
    border: none;
}

.notes-app .input-submit-title{
    font-size: x-large;
    padding-left: 0rem;
}
.notes-app .input-submit-txt{
    padding: 20px 0 40px 0;
    font-size: larger;
}
.notes-app .input-submit-title:focus{
    outline: none; 
}
.notes-app .input-submit-txt:focus{
    outline: none; 
}
.notes-app .last-action-btn {
    border-radius: 0 10px 10px 0;
}
.notes-app .input-submit::placeholder {
    color: rgb(87, 86, 86);
}

.notes-app .form-submit-btn {
    display: none;
}

.notes-app .selected-format {
    box-shadow: 0px 0px 20px 0px #00000043;
    border-radius: 50%;
    background-color: rgb(232, 228, 228);
    color:rgb(151, 148, 148);
}
.notes-app .thumbtack-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 400px;
    font-size: xx-large
}

.notes-app .trash-btn-container {
    display: flex;
    bottom: 0;
}

.notes-app #file-btn {
    position: relative;
    cursor: pointer;
}

.notes-app .file-input {
    position: absolute;
    max-width: 23px;
    left: 0;
    top: 0;
    opacity: 0;
}

.notes-app .my-img {
    display: none;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
}