body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(129, 229, 238);
}
header nav>*:not(:last-child) {
    margin-inline-end: 10px;
}
a{
    text-decoration: none;
    color: #212121;
}