header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

header nav>*:not(:last-child) {
    margin-inline-end: 10px;
}
a{
    text-decoration: none;
    color: #212121;
    margin-left: 15px;
}
.search-header{
    padding: 5px;
    width: 20rem;
    max-width: 20rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: rgb(255, 251, 251);
    /* left: 0; */
}