@media(max-width:780px){
    .email{
        height: 141px;
        width: 95%;
    }
    .title{
        width: 100%;
    }
    p{
        margin: 0;
        margin-bottom: 5px;
    }
    .email-nav{
        justify-content: space-between;
        height: 250px;
    }
    p.bold.coma{
        display: none;
    }
    .mail-info{
        flex-direction: column;
        justify-content:center;
        gap:10px;
    }
    .phone-date{
        display: block;
    }
    .date{
        display: none;
    }
}