@media(max-width:1300px){
    .text-preview{
        width: 50%;
    }
}

@media(max-width:960px){
    .text-preview{
        width: 40%;
    }
}
    


@media(max-width:780px){
    .email{
        height: 141px;
        width: 95%;
        display: flex;
        /* gap:3rem */
        justify-content: space-between;
    }
    .title{
        width: 100%;
    }
    p{
        margin: 0;
        margin-bottom: 5px;
    }
    .email-nav{
        justify-content: space-between;
        height: 250px;
    }
    p.bold.coma{
        display: none;
    }
    .pop{
        right: 5%;
        transform: translatey(-16px);

    }
    .mail-info{
        flex-direction: column;
        justify-content:center;
        width: 40%;
        gap:10px;
    }
    .text-preview{
        flex-direction: column;
        gap: 5px;
        margin-left: 0;
    }
    .phone-date{
        display: none;
        /* padding-right: 15px;
        display: block;
        justify-self: flex-end; */
    }
    .date{
        /* display: none; */
        padding-right: 15px;
        display: block;
        justify-self: flex-end;
    }
}